services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io
    container_name: changedetection
    hostname: changedetection
    volumes:
      - changedetection-data:/datastore

    environment:
      - USE_X_SETTINGS=1

    restart: unless-stopped
    networks:
      - proxy_network

volumes:
  changedetection-data:

networks:
  proxy_network:
    external: true
